*.pem
# Ignore Python compiled files
**/*.pyc

# Ignore Docker volumes
docker/postgres/

# Ignore Python cache directories
**/__pycache__/

# Ignore Python virtual environments
venv/

docker/es_data/
docker/graylog_journal/
docker/mongo_data/
Code/Server/database.log
